# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.class
MoreChickens
SupportLibs
FTB StoneBlock 4/
ResourceInformation
Minecraft_Client_Source_1.20.1
NeoForge-1.20.1