# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.class
Hatchery
MoreChickens
NeoForge-1.21.x
Minecraft_Client_Source_1.21.1
SupportLibs